* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 10px auto;
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: gray;
  height: 100px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}

.button-groups {
  display: flex;
  flex-direction: column;
}

.btn-grp {
  display: flex;
  height: 100px;
}

.btn-grp > * {
  height: 100%;
}

.last-grp > :first-child {
  flex: 2.03;
}

.btn {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #bbb;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid gray;
}
